/chess.html
/chess.js
/confirms.html
/constructir.html
/data.html
/data.js
/ex1.html
/ex1.js
/ex2.html
/ex2.js
/ex3.html
/ex3.js
/frst.html
/funtion.html
/hover.html
/object.html
/onsubmit.html
/operations.html
/placement.html
/prompt.html
/settingcookie.html
/string.js
/var.html